.inputSize {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: left;
  }
.divSize {
  width: 25%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.buttonsForm{
  padding-top: 5%;
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  right: 0;
  color: black;
}
.buttonsForm:focus{
  outline: none;
  box-shadow: none;
}
.buttonsModal{
  color: black;
  border-bottom:none;
}
.buttonsModal:focus{
  outline: none;
  box-shadow: none;
}