<div class="divSize">
  <form
    [formGroup]="employedForm"
    (ngSubmit)="onFormSubmit(employedForm.value)"
  >
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput"
        placeholder="Example input"
        formControlName="name"
        maxlength="20"
        [(ngModel)]="employedModel.name"
      />
      <label *ngIf="employedForm.get('name').invalid" [ngClass]="'error'">
        *Field required
      </label>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Last name</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="Another input"
        formControlName="lastName"
        maxlength="20"
        [(ngModel)]="employedModel.lastName"
      />
      <label *ngIf="employedForm.get('lastName').invalid" [ngClass]="'error'">
        *Field required
      </label>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Birth Date</label>
      <input
        type="date"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="dd/mm/yyyy"
        formControlName="age"
        maxlength="10"
        [(ngModel)]="employedModel.age"
      />
      <label *ngIf="employedForm.get('age').invalid" [ngClass]="'error'">
        *Field required
      </label>
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Entry date</label>
      <input
        type="date"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="dd/mm/yyyy"
        formControlName="entryDate"
        maxlength="10"
        [(ngModel)]="employedModel.entryDate"
      />
      <label *ngIf="employedForm.get('entryDate').invalid" [ngClass]="'error'">
        *Field required
      </label>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Departament</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Accounting and Finance</option>
        <option>Human resources</option>
        <option>Administration</option>
        <option>Marketing</option>
      </select>
    </div>
  </form>
  <div>
    <button type="button" class="btn btn-link buttonsForm" routerLink="/home">
      Back
    </button>
    <button
      type="submit"
      class="btn btn-link buttonsForm"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="onFormSubmit(employedForm.value)"
      *ngIf="employedForm.invalid"
      [disabled]="true"
    >
      Continue
    </button>
    <button
      type="submit"
      class="btn btn-link buttonsForm"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="onFormSubmit(employedForm.value)"
      *ngIf="employedForm.valid"
      [disabled]="false"
    >
      Continue
    </button>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm employed</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="employedModelOutput">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Name </th>
              <th scope="col">Last Name</th>
              <th scope="col">Age</th>
              <th scope="col">Departament</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td scope="row">{{employedModelOutput.name}}</td>
              <td>{{employedModelOutput.lastName}}</td>
              <td>{{employedModelOutput.age}}</td>
              <td>Marketing</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link buttonsModal" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-link buttonsModal">Confirm</button>
      </div>
    </div>
  </div>
</div>
