<div class="divSize">
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Name</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput"
        placeholder="Example input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Last name</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="Another input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Age</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="Another input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Entry date</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="Another input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">Departament</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Accounting and Finance</option>
        <option>Human resources</option>
        <option>Administration</option>
        <option>Marketing</option>
      </select>
    </div>
  </form>
  <div>
    <button type="button" class="btn btn-link buttonsForm" routerLink="/home">
      Back
    </button>
    <button
      type="button"
      class="btn btn-link buttonsForm"
      data-toggle="modal"
      data-target="#exampleModal"
    >
      Continue
    </button>
  </div>
  <!-- Modal confirm new employed -->
  <div
    class="modal fade"
    id="exampleModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link buttonsModal" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-link buttonsModal">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>
