<nav
  class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
>
  <a class="navbar-brand" href="#">DISID</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/addEmployed']">Create Employed</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="modal"
          data-target="#createDepartamentModal"
          >Create Departament</a
        >
      </li>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          data-toggle="dropdown"
          href="#"
          role="button"
          aria-haspopup="true"
          aria-expanded="false"
          >Filter by</a
        >
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Accounting and Finance</a>
          <a class="dropdown-item" href="#">Human resources</a>
          <a class="dropdown-item" href="#">Administration</a>
          <a class="dropdown-item" href="#">Marketing</a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="#"
            data-toggle="modal"
            data-target="#searchSpecificEmployedModal"
            >Show by date</a
          >
          <a class="dropdown-item" href="#">Show all employeds</a>
        </div>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder=""
        aria-label="Search"
      />
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
        Search
      </button>
    </form>
  </div>
</nav>
<!-- create departament modal -->
<div
  class="modal fade"
  id="createDepartamentModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Create a new Departament
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="formGroupExampleInput">Type a new name</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Example input"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link buttonsModal"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-link buttonsModal">Create</button>
      </div>
    </div>
  </div>
</div>
<!-- serch a specific employed modal -->
<div
  class="modal fade"
  id="searchSpecificEmployedModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Create a new Departament
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="formGroupExampleInput">Type a date</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="dd/mm/yyyy"
          />
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-link buttonsModal"
          data-dismiss="modal"
        >
          Close
        </button>
        <button type="button" class="btn btn-link buttonsModal">Search</button>
      </div>
    </div>
  </div>
</div>
