<nav
  class="navbar navbar-expand-lg navbar-light bg-light justify-content-center"
>
  <a class="navbar-brand" href="#">DISID</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/addEmployed']">Create Employed</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          data-toggle="modal"
          data-target="#createDepartamentModal"
          [routerLink]="['/addDepartament']"
          >Create Departament</a
        >
      </li>
      <li class="nav-item"><input class="calendar" [(ngModel)]="dateEntry" type="date" name="" id=""></li>
      <a class="nav-link" (click)="getEntryDate()">Search</a>
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input
        class="form-control mr-sm-2"
        type="search"
        placeholder=""
        aria-label="Search"
        [(ngModel)]="employedName" [ngModelOptions]="{standalone: true}"
      />
      
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="getEmployedInput()">
        Search
      </button>
    </form>
  </div>
  
</nav>

