<ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link"[routerLink]="['/addEmployed']">Create Employed</a>
    </li>
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Filter by</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="#">Accounting and Finance</a>
          <a class="dropdown-item" href="#">Human resources</a>
          <a class="dropdown-item" href="#">Administration</a>
          <a class="dropdown-item" href="#">Marketing</a>
        </div>
      </li>
  </ul>
