<app-disid-nav-view></app-disid-nav-view>
<div class="topSpace">
  <table class="table table-striped sizeTable">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Age</th>
        <th scope="col">Entry date</th>
        <th scope="col">Departament</th>
        <th scope="col" style="width: 15%;">Filter by <span class="material-icons">list</span><select class=" col" (change)="getDepartamentValue($event)" id="exampleFormControlSelect2">
         <span class="material-icons">list</span>
          <option value="">Reset filter</option>
          <hr>
          <option *ngFor="let item of departamentList">{{item.name}}</option>
        </select>
      </th>
      </tr>
    </thead>
    <tbody *ngIf="!depFiltered">
      <tr (click)="selectEmployed(item)" *ngFor="let item of employedList">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.age}}</td>
        <td>{{item.entryDate | date}}</td>
        <td>{{item.departament.name}}</td>
        <td>
          <span class="material-icons ico" (click)="editEmployed(item)">create</span>
          <span class="material-icons ico" data-toggle="modal" data-target="#deleteEmployedModal">delete</span>
        </td>
      </tr>
    </tbody>
    <tbody *ngIf="depFiltered">
      <tr (click)="selectEmployed(item)" *ngFor="let item of depFiltered">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.age}}</td>
        <td>{{item.entryDate | date}}</td>
        <td>{{item.departament.name}}</td>
        <td>
          <span class="material-icons ico" (click)="editEmployed(item)">create</span>
          <span class="material-icons ico" data-toggle="modal" data-target="#deleteEmployedModal">delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Delete modal -->
<div class="modal fade" id="deleteEmployedModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployedModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="employed">
      <div class="modal-body">
        {{employed.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link buttonsModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-link buttonsModal" (click)="deleteEmployed(employed)" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
