<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Second name</th>
      <th scope="col">Last name</th>
      <th scope="col">Salary</th>
      <th scope="col">Departament</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>Tom</td>
      <td>1200€</td>
      <td>Marketing</td>
      <td>
        <span class="material-icons ico">create</span>
        <span class="material-icons ico">delete</span>
      </td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>Hanks</td>
      <td>1200€</td>
      <td>Marketing</td>
      <td>
        <span class="material-icons ico">create</span>
        <span class="material-icons ico">delete</span>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Bird</td>
      <td>Crew</td>
      <td>1200€</td>
      <td>Marketing</td>
      <td>
        <span class="material-icons ico">create</span>
        <span class="material-icons ico">delete</span>
      </td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>Bird</td>
      <td>Crew</td>
      <td>1200€</td>
      <td>Marketing</td>
      <td>
        <span class="material-icons ico">create</span>
        <span class="material-icons ico">delete</span>
      </td>
    </tr>
  </tbody>
</table>
