.ico {
  cursor: pointer;
  padding-right: 3%;
}
.ico:focus {
  outline: none;
  box-shadow: none;
}
.sizeTable {
  width: 50%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.topSpace {
  padding-top: 1%;
}
.buttonsModal{
  color: black;
  border-bottom:none;
}
.buttonsModal:focus{
  outline: none;
  box-shadow: none;
}
