<div class="topSpace">
  <table class="table table-striped sizeTable">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Last name</th>
        <th scope="col">Age</th>
        <th scope="col">Entry date</th>
        <th scope="col">Departament</th>
        <th scope="col">Options</th>
      </tr>
    </thead>
    <tbody>
      <tr (click)="selectEmployed(item)" *ngFor="let item of employedList">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.age}}</td>
        <td>{{item.entryDate | date}}</td>
        <td>{{item.departament.name}}</td>
        <td>
          <span class="material-icons ico" routerLink="/addEmployed">create</span>
          <span class="material-icons ico" data-toggle="modal" data-target="#deleteEmployedModal">delete</span>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!-- Delete modal -->
<div class="modal fade" id="deleteEmployedModal" tabindex="-1" role="dialog" aria-labelledby="deleteEmployedModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" *ngIf="employed">
      <div class="modal-body">
        {{employed.name}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link buttonsModal" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-link buttonsModal">Save changes</button>
      </div>
    </div>
  </div>
</div>
