<div class="divSize">
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">First name</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput"
        placeholder="Example input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Second name</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="Another input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Last name</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="Another input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Salary</label>
      <input
        type="text"
        class="form-control inputSize"
        id="formGroupExampleInput2"
        placeholder="Another input"
        maxlength="30"
      />
    </div>
    <div class="form-group">
        <label for="exampleFormControlSelect1">Departament</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>Accounting and Finance</option>
          <option>Human resources</option>
          <option>Administration</option>
          <option>Marketing</option>
        </select>
      </div>
  </form>
  <div>
    <button type="button" class="btn btn-link buttonsForm" routerLink="/home">Back</button>
    <button type="button" class="btn btn-link buttonsForm">Continue</button>
  </div>
</div>
